<h1>Editar fornecedor</h1>

<%= render "form", fornecedor: @fornecedor %>

<br>

<div>
  <%= link_to "Mostrar", @fornecedor, class:"btn btn-primary" %> 
  <%= link_to "Voltar", fornecedors_path, class:"btn btn-warning" %>
</div>
