<p style="color: green"><%= notice %></p>

<h1>Fornecedors</h1>

<div id="fornecedors">
  <% @fornecedors.each do |fornecedor| %>
    <%= render fornecedor %>
    <p>
      <%= link_to "Mostrar", fornecedor, class:"btn btn-warning" %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Fornecedor", new_fornecedor_path, class:"btn btn-primary"%>
