<h1> Editando o carro </h1>

<section class="text-center container">
    <div style="text-align:left">
        <form>
            <div>Nome: <input type="text" value="<%= @car.name %>" name="name"></div>
            <div>Modelo: <input type="text" value="<%= @car.model %>" name="model"></div>
            <div>Ano: <input type="text" value="<%= @car.year %>" name="year"></div>
            <hr>
            <button type="submit", class="btn btn-primary">Enviar</button>
            <a href="/cars" class="btn btn-warning">Voltar para a lista</a>
        </form>
    </div>
</section>