<h1> Novo o carro </h1>

<section class="text-center container">
    <div style="text-align:left">
        <form action="<%= cars_create_path %>" method="POST">
            <%= render "form"%>
            <hr>
            <button type="submit", class="btn btn-primary">Enviar</button>
            <a href="/cars" class="btn btn-warning">Voltar para a lista</a>
        </form>
    </div>
</section>