<h1> Mostrando o carro </h1>

<section class="text-center container">
    <div style="text-align:left">
        <div>Nome: <%= @car.name %></div>
        <div>Modelo: <%= @car.model %></div>
        <div>Ano: <%= @car.year %></div>
        <a href="/cars" class="btn btn-warning">Voltar para a lista</a>
    </div>
</section>